body{
    background-color: aquamarine;
}

div {
    border: 2px solid red;
    margin: 100px 0px 0px 50px;

    padding-top: 20px;
}

nav {
    border: 3px solid black;
}

img{
    width: 200px;
}

/* nav {
    margin-left: 200px;
} */

.batas {
    margin-left: 200px;
}

.warna {
    background-color: bisque;
}

#background {
    background-color: bisque;
    position: sticky;
    top: 200px;
}